@font-face {
  font-family: 'Eina01-SemiBold';
  src: url('../font/Eina01-SemiBold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Eina01-Bold';
  src: url('../font/Eina01-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Acme-Regular';
  src: url('../font/Acme-Regular.ttf');
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #e4e4e4;
  background-color: #e4e4e4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  border-radius: 5px;
}

.l-top {
  /* width: 100%;
    background-image: url('/images/top.png');
    background-position: center center;
    background-repeat: no-repeat; */
  /* background-size: contain;
    min-height: 100% !important; */
}

.l-bottom {
  /* background-image: url('/images/bottom.png');
    background-position: center center;
    background-repeat: no-repeat; */
  /* background-size: contain;
    min-height: 100% !important; */
}

.acc-open-service {
  top: 14px;
}
/* custom .datepicker style */

.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover {
  background: linear-gradient(
    139.4deg,
    #121b67 0%,
    #ed4055 60.42%,
    #edd62c 97.26%,
    #edda2b 105.51%,
    #edde2a 105.52%,
    #ede229 105.53%,
    #615e11 108.85%,
    #ede927 108.86%,
    #edeb27 108.87%,
    #edec26 108.88%,
    #edee26 108.89%,
    #edf224 108.9%,
    #edf623 108.92%,
    #edfb22 108.93%,
    #edff21 108.94%,
    #edff21 108.94%,
    #edff21 108.94%,
    #edff21 108.94%,
    #edff21 108.94%,
    #edff21 108.94%
  );
}

.background-gradient {
  background-repeat: no-repeat;
  background-color: #ff0051;
  /* background-image: radial-gradient(at 92% 89%, #211d62 0px, transparent 50%),
        radial-gradient(at 10% 14%, #fce483 0px, transparent 50%); */

  background-image: radial-gradient(at 90% 90%, #211d62 10vh, transparent 70%),
    radial-gradient(at 10% 14%, #fce483 20vh, transparent 70%);
}

.form-background {
  background: linear-gradient(
    149.18deg,
    #fce783 4.43%,
    #ff0039 56.43%,
    #261e65 107.52%
  );
  /* background-image: url('../images/form-bg.png');
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover; */
}

.white-container {
  background: #ffffff40;
  backdrop-filter: blur(12.5px);
  border-radius: 25px;
}

.custom-text {
  font-style: normal;
  background: linear-gradient(
    153.32deg,
    #121b67 0%,
    #ed4055 46.74%,
    #edd62c 163.98%,
    #edda2b 164%,
    #edde2a 164.01%,
    #ede229 164.03%,
    #615e11 169.19%,
    #ede927 169.2%,
    #edeb27 169.22%,
    #edec26 169.24%,
    #edee26 169.25%,
    #edf224 169.27%,
    #edf623 169.29%,
    #edfb22 169.31%,
    #edff21 169.32%,
    #edff21 169.32%,
    #edff21 169.32%,
    #edff21 169.32%,
    #edff21 169.32%,
    #edff21 169.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.custom-bg {
  background: radial-gradient(
    77.9% 114.65% at 77.9% 30.83%,
    #121b67 0%,
    #ed4055 63.54%,
    #edd62c 96.85%,
    #edda2b 96.86%,
    #edde2a 96.86%,
    #ede229 96.88%,
    #615e11 99.92%,
    #ede927 99.93%,
    #edeb27 99.94%,
    #edec26 99.95%,
    #edee26 99.96%,
    #edf224 99.97%,
    #edf623 99.98%,
    #edfb22 99.99%,
    #edff21 100%,
    #edff21 100%,
    #edff21 100%,
    #edff21 100%,
    #edff21 100%,
    #edff21 100%
  );
}

.card-bg {
  background: linear-gradient(
    136.67deg,
    #122a67 0%,
    #ed4055 28.56%,
    #edd62c 100.19%,
    #edda2b 100.2%,
    #edde2a 100.21%,
    #ede229 100.22%,
    #615e11 103.37%,
    #ede927 103.38%,
    #edeb27 103.39%,
    #edec26 103.4%,
    #edee26 103.41%,
    #edf224 103.42%,
    #edf623 103.43%,
    #edfb22 103.44%,
    #edff21 103.45%,
    #edff21 103.45%,
    #edff21 103.45%,
    #edff21 103.45%,
    #edff21 103.45%,
    #edff21 103.45%
  );
  box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.25);
}

.inputbox {
  position: relative;
  /* margin-bottom: 18px; */
  width: 100%;
  height: 60px;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
}



input:autofill {
  background: #fff;
}

:is(.input:focus, .input:valid) ~ label {
  translate: -40px -33.5px;
  scale: 0.875;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
}

.input:focus ~ label {
  color: #6a6a6a;
}

.input:focus {
  /* border-color: #565656; */
}

:is(.input:focus, .input:valid) ~ span {
  color: rgba(129, 129, 129, 0.96);
}

.inputbox label {
  /* position: absolute;
  top: 50%;
  left: 55px;
  line-height: 1;
  font-size: 14px;
  translate: 0 -50%;
  color: #6a6a6a;
  pointer-events: none;
  transition: 0.4s;
  font-weight: 500; */
  position: absolute;
  top: 50%;
  left: 55px;
  line-height: 1;
  font-size: 14px;
  translate: 0 -50%;
  color: #6a6a6a;
  pointer-events: none;
  transition: 0.4s;
  font-weight: 500;
}

input[type='file'] {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date']:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type='date']:focus::-webkit-datetime-edit {
  color: black !important;
}

/* checkbox */
/* Hide the default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.15s;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  /* background-color: limegreen; */
  background: linear-gradient(
    141.12deg,
    #58c800 -5.8%,
    #0092e4 45.76%,
    #70ff00 95.22%
  );
  border-radius: 25px;
  transition: 0.15s;
  border: 2px solid red;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 0.3em;
  top: 0.1em;
  width: 0.5em;
  height: 0.75em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  border-radius: 1.5px;
  transform: rotate(35deg);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: transparent;
}

nav {
  display: flex;
  background: #fff;
  padding: 12px 0;
  box-shadow: 4px 4px 37px rgba(0, 0, 0, 0.25);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.nav-a {
  color: inherit;
  text-decoration: none;
  margin: 0 12px;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  position: relative;
}

.nav-a svg {
  margin-right: -2.5rem;
  width: 18px;
  height: 18px;
  pointer-events: none;
  transition: margin 0.2s ease-out;
}

.nav-a span {
  opacity: 0;
  visibility: hidden;
  font-size: 0.9rem;
  margin-left: 0.9rem;
}

.nav-a:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transform: translate(0%, -50%) scale(0);
  visibility: visible;
  opacity: 1;
}

.nav-a.active {
  background: rgba(214, 4, 0, 0.14);
  color: #2f2e41;
}

.nav-a.active:before {
  background: var(--hover-c);
  opacity: 0;
  visibility: hidden;
  transform: translate(0%, -50%) scale(2);
  transition: all 0.4s ease-out;
}

.nav-a.active svg {
  margin-right: 0;
  color: #ed4055;
}

.nav-a.active span {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-out;
}
